<meta name="theme-color" content="#81C7A1">
<link rel="icon" type="image/svg+xml" href="public/img/favicon-revygore-essencial.svg">
<link rel="icon" type="image/png" sizes="48x48" href="public/img/favicon-revygore-essencial.png">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="public/img/favicon-revygore-essencial.png">
<meta name="geo.region" content="BR-RS">
<meta name="geo.placename" content="Porto Alegre">
<meta name="robots" content="index, follow, max-image-preview:large">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- Arquivos CSS Globais -->
<link rel="stylesheet" href="assets/css/base/reset.css">
<link rel="stylesheet" href="assets/css/base/variables.css">
<link rel="stylesheet" href="assets/css/base/typography.css">
<link rel="stylesheet" href="assets/css/layout/grid.css">
<link rel="stylesheet" href="assets/css/layout/navbar-footer.css">
<link rel="stylesheet" href="assets/css/components/buttons.css">
<link rel="stylesheet" href="assets/css/utilities/helpers.css">
<!-- Script Principal -->
<script type="module" src="assets/js/main.js" defer></script>
