<nav class="navbar">
    <div class="container">
        <a href="/" class="logo-link" aria-label="Página Inicial Revygore Essencial">
            <img src="img/logo-revygore-essencial.webp" alt="Logo Revygore Essencial" class="logo-img" width="65" height="65">
        </a>
        <a href="https://wa.me/5551980600845?text=Olá! Gostaria de agendar um horário no Revygore Essencial." target="_blank" rel="noopener noreferrer" class="btn btn-brand" style="padding: 0.75rem 1.5rem; font-size: 0.75rem;">Agendar Horário</a>
    </div>
</nav>
